<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681888826389-aj4m6ch2cjfh16di1s8gbtjce2psmsui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681888826389-aj4m6ch2cjfh16di1s8gbtjce2psmsui</string>
	<key>API_KEY</key>
	<string>AIzaSyAWVkQLd-XN8G8nwKnOIzhs46-w18uszo0</string>
	<key>GCM_SENDER_ID</key>
	<string>681888826389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stripe.example.Firestripe</string>
	<key>PROJECT_ID</key>
	<string>firestripe-mobile-payments</string>
	<key>STORAGE_BUCKET</key>
	<string>firestripe-mobile-payments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681888826389:ios:555208b0e557dd149cba1c</string>
	<key>DATABASE_URL</key>
	<string>https://firestripe-mobile-payments.firebaseio.com</string>
</dict>
</plist>